*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

#menu{
    height: 80px;
    padding: 0 20px;
}

#logo{
    font-size: 30px;
    line-height: 80px;
    color: #3A98B9;
    float: left;
}

nav{
    float: right;
    line-height: 80px;
}

nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color: #3A98B9;
}

nav a:hover{
    border-bottom: 2px solid #3A98B9;
}

nav a:visited{
    text-decoration: none;
    margin-right: 25px;
    color: #3A98B9;
}

.icon{
    margin-right: 7px;
    font-size: 16px;
}

#anasayfa{
    height: 600px;
    background-image: url("img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#black{
    height: 600px;
    background-color: black;
    opacity: 0.5;
}

#icerik{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 20px;
}

#hakkimizda{
    background-color: #f8f9fa;
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
}

h3{
    font-size: 55px;
    color: #3A98B9;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}

.container{
    width: 1000px;
    height: auto;
    margin: auto;
}

#left{
    float: left;
    border-right: 3px solid #445c6e;
    font-size: 30px;
    width: 400px;
    color: #445c6e;
}

#h5left{
    line-height: 1.6;
    font-size: 25px;
    font-weight: 500;
}

#h5left, #right{
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

span{
    font-size: 50px;
    margin-right: 7px;
    line-height: 42px;
    color: #3A98B9;
    font-weight: 500;
    float: left;
}

#right{
    float: right;
    width: 570px;
    color: #999999;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 100;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.mt100{
    margin-top: 70px;
}

#pfinal{
    color: #999;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 30px;
    font-weight: 100;
}

#egitimler{
    background-color: #fff;
    padding: 50px;
    text-align: center;
    height: 700px;
}

.card{
    width: 300px;
    height: 390px;
    border: 1px solid #ddd;
    padding: 0;
    display: inline-block;
}

.card:hover{
    border: 3px solid gray;
}

.cardtitle{
    font-size: 15px;
    color: #3A98B9;
}

.cardp{
    color: #888;
}

#ekip{
    background-color: #3A98B9;
    padding: 50px;
    height: 870px;
    text-align: center;
}

#teamh3{
    color: white;
}

.column-left-right{
    width: 320px;
    float: left;
    padding: 45px;
}

.oval{
    border-radius: 50%;
}

.team-name{
    color: white;
    font-size: 20px;
    margin-bottom: 12px;
}

.team{
    color: #ddd;
    font-size: 18px;
}

.social{
    color: #ddd;
    border: 1px solid #ddd;
    padding: 10px;
    width: 50px;
    border-radius: 10px;
    margin: 5px 10px;
}

.social:hover{
    background-color: #ddd;
    color: #227fa1;
    border: 1px solid #3A98B9;
} 

.column{
    width: 320px;
    float: left;
    padding: 10px;
}

#iletisim{
    background: url(img/contact.jpg);
    background-size: cover;
    padding: 50px;
    height: auto;
    text-align: center;
}

#h3contact{
    color: #fff;
}

#contact-opaque{
    background: rgba(255,255,255,0.2);
    padding: 30px 20px;
    border-radius: 5px;
    margin-bottom: 50px;
    height: 550px;
}

#form-group{
    width: 700px;
    float: left;
    height: 500px;
    text-align: left;
}

#left-form{
    width: 50%;
    float: left;
    padding-right: 5px;
}

#right-form{
    width: 50%;
    float: right;
    padding-left: 5px;
}

.form-conrtol{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

textarea{
    font-family: Arial;
}

input[type="submit"]{
    cursor: pointer;
    background-color: #227fa1;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 30px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

#address{
    width: 240px;
    float: right;
    padding: 30px;
    height: 500px;
    text-align: left;
}

#address-title{
    font-size: 30px;
    color: white;
}

.addressp{
    color: #ddd;
    font-size: 15px;
    letter-spacing: 1.5px;
}

#copy-right{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

#up{
    color: white;
    border: 1px solid white;
    font-size: 15px;
    border-radius: 50%;
    padding: 9px 12px;
    margin-top: 20px;
}

